
#search
{
position:relative;
padding-top:3px;
height:35px;
width:330px;
background:url(search.jpg) no-repeat;
}
#input
{
left:2px;
position:absolute;
font-size:20px;
width:240px;
height:25px;
border:0;
background:none;
}
#go
{
position:absolute;
left:258px;
width:70px;
height:30px;
cursor:pointer;
border:0;
background:none;
}
#search2
{
position:relative;
padding-top:3px;
height:35px;
width:330px;
}
#input2
{
left:2px;
position:absolute;
font-size:20px;
width:240px;
height:25px;
border:0;
background:#FFFFFF;
border:1px solid #CCCCCC;
}
#go2
{
font-size:14px;
color:#FFFFFF;
position:absolute;
left:258px;
width:70px;
height:30px;
cursor:pointer;
border:0;
background:#4876FF;
border:1px solid;
border-radius:5px;
}
  