
  .overline{text-decoration:overline;}
  .through{text-decoration:line-through;}
  .underline{text-decoration:underline;}
  .blink{text-decoration:blink;}
  .bold{font-weight:bold;}
  .italic{font-style:italic;}
  .oblique{font-style:oblique;}
  