body{
	font-family: 
}

#a{
	text-indent: 15px;
}
#b{
	text-indent:-6px;
}
#c{
	text-indent: 0.5em;
}
p.uppercase:first-letter{text-transform:uppercase;}
::selection{color:#00ff00;}

p.ud{text-decoration: underline;}
p.up{text-decoration: line-through;}
overline{text-decoration: overline;}
hidden{text-overflow:ellipsis;}
div.clip{word-spacing: nowrap;overflow: hidden;text-overflow:clip;}