
  *{
  margin:0;
  padding:0;
  }
  body{
  background:url(imgs/galaxy.jpg) no-repeat;
  overflow:hidden;
  }
  #bottom_dock
  {
  height:auto;
  width:auto;
  position:absolute;
  bottom:0;
  overflow:hidden;
  }
  #bottom_dock_background
  {
  position:absolute;
  bottom:0;
  width:auto;
  z-index:-1;
  }
  #bottom_dock>a>img
  {
  border:0;
  width:64px;
  height:64px;
  }
  