
  #main{float:left;min-height:500px;}
  #l{float:left;margin-bottom:10px;margin-right:10px;padding:6px 10px;width:117px;}
  #r{float:right;margin-right:10px;padding-top:10px;width:864px;overflow:hidden;}
  