
 div{width:100px;height:100px;position:absolute;left:0;top:0;background:red;}
 
/*

 window.onload=function (){
 var odiv=document.getElementsByTagName('div')[0];
 move(odiv,{left:[300],top:[400]});
 }
   */