
 div{width:0;margin:20px;float:left;}
 div:nth-child(1){
 border-top:20px solid;
 border-left:20px solid red;
 border-right:20px solid green ;
 border-bottom:20px solid blue;
 }
  div:nth-child(2){
 border-top:20px solid;
 border-left:20px solid transparent;
 border-right:20px solid transparent ;
 border-bottom:20px solid transparent;
 }
   div:nth-child(3){
 border-top:20px solid transparent;
 border-left:20px solid transparent;
 border-right:20px solid transparent ;
 border-bottom:20px solid;
 }
    div:nth-child(4){
 border-top:20px solid transparent;
 border-left:20px solid;
 border-right:20px solid transparent ;
 border-bottom:20px solid transparent;
 }
     div:nth-child(5){
 border-top:20px solid transparent;
 border-left:20px solid transparent;
 border-right:20px solid ;
 border-bottom:20px solid transparent;
 }
     div:nth-child(6){
 border-top:20px solid;
 border-left:20px solid;
 border-right:20px solid transparent;
 border-bottom:20px solid transparent;
 }
      div:nth-child(7){
 border-top:20px solid;
 border-left:20px solid transparent;
 border-right:20px solid;
 border-bottom:20px solid transparent;
 }
      div:nth-child(8){
 border-top:20px solid transparent;
 border-left:20px solid;
 border-right:20px solid transparent;
 border-bottom:20px solid;
 }
      div:nth-child(9){
 border-top:20px solid transparent;
 border-left:20px solid transparent;
 border-right:20px solid;
 border-bottom:20px solid;
 }
  div:nth-child(10),div:nth-child(11){
  width:30px ;
 border-top:20px solid;
 border-left:20px solid red;
 border-right:20px solid green ;
 border-bottom:20px solid blue;
 }
 